.App {
  text-align: center;
}
body {
  background: linear-gradient(crimson, rgb(199, 0, 40));
  background-size: 150%;
}

.container {
  display: flex;
  justify-content: center;
  color: white;
}

img {
  height: 16em;
}

input {
  box-sizing: border-box;
  font-size: 2rem;
  padding: 1rem;
  display: block;
  margin: 2rem auto;
}
.name {
  text-align: center;
  color: white;
  text-transform: capitalize;
}
.tipo {
  text-align: center;
  color: white;
  margin-left: 10px;
  text-transform: capitalize;
}
.tipoNome {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-content: space-between;
}

.imagemBg {
  background-color: transparent;
  border-radius: 20px;
  height: 248px;
  width: 389px;
  transition: all 1s;
  margin-left: 6px;
  perspective: 1000px;
}

.imagemBg-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.imagemBg:hover .imagemBg-inner {
  transform: rotateY(180deg);
}

.imagemBg-front,
.imagemBg-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden;
}
.imagemBg-front {
  background-color: rgb(255, 255, 255);
  color: black;
  border-radius: 20px;
}
.imagemBg-back {
  background-color: white;
  color: black;
  transform: rotateY(180deg);
  border-radius: 20px;
}

.descricao {
  border-radius: 20px;
  background-color: white;
  color: black;
  transition: all 1s;
  padding: 5px 5px 5px 5px;
  height: 248px;
  width: 389px;
}
.moveset {
  border-radius: 20px;
  background-color: white;
  color: black;
  transition: all 1s;
  padding: 1px 5px 5px 5px;
  height: 158px;
  width: 389px;
  margin-bottom: 10px;
}
.moveset:hover {
  transform: scale(1.1);
}
.descricao:hover {
  transform: scale(1.1);
}
.buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-content: space-between;
  height: 55px;
}
.indice {
  margin-top: 0px;
  font-size: 26px;
  font-weight: bold;
  color: white;
}
.button {
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-left: 10px;
  transition: all 0.5s;
  width: 250px;
}
.button:active {
  background-color: rgb(170, 3, 3);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
